.NLcard-container {
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.NLcard-wrapper {

    max-width: 82.2rem;
    width: 100%;
    padding: 0 20px;
}

.NLcard-wrapper h1 {
    text-align: center;
    font-weight: 550;
    font-size: 30px;
}

.NLcard-items img {
    max-width: 24rem;
    width: 100%;
    height: 18rem;
    object-fit: cover; 
    object-position: center; 
    transition: transform 2s ease;
}


.NLcard-items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 74rem;
    margin: 3rem auto;
    width: 100%;
}

.NLcard-overlay {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.NLcard-overlay.active img {
    transform: scale(1.1);
}

.NLcard-overlay button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #f9f4f4;
    font-weight: 550;
    text-decoration: underline;
    border: none;
}

@media screen and (max-width: 1268px){
    .NLcard-items{
        justify-content: center;
    }
}
