footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #F8F8F8;
    padding: 15px 20px;
}

.footer-wrapper{
    display: flex;
    max-width: 82.2rem;
    gap: 10rem;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
}

footer img{
    width: 26rem;
    height: 10rem;
}

.footer-info{

    text-align:center;
    padding: 20px;
}

.footer-info h2{
    font-size: 32px;
    margin-top: 1.5rem;
}

.footer-info p{
    font-size: 12px;
}

.footer-info .copyright{
    font-size: 11px;
}

.footer-info span{
    color: #7E7E7E;
}

.footer-icons{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 25px;
}

.footer-icons a{
    color: black;
}

@media only screen and (max-width: 1331px){
    .footer-wrapper{
        gap: 2rem;

    }
}

@media screen and (max-width: 990px){
    .footer-wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 658px){
    .footer-wrapper{
        flex-direction: column;
        gap: 0c;
    }

    footer img{
        margin-bottom: -20px;
        width: 100%;
        height: auto;
    }
}