*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    height: 150px;
    display: flex;
    justify-content: center;
    gap: 20rem;
}

.main-nav img{
    width: 20rem;
    height: 7.5rem;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    gap: 13rem;
    position: relative;
    height: 150px;
    padding: 25px 20px;
    transition: transform 0.3s ease;
    
}

.main-nav.act img{
    position: relative;
    top: -1.8rem !important;
    left: 0 !important;
    width: 20rem;
    height: 7.5rem;
}

.main-nav.act{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 100px;
    padding: 25px 20px;
    z-index: 2;
    transition: transform 0.3s ease;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar.act{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    margin-left: -65px;
    margin-top: -2px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    margin-left: -65px;
}

.navbar .nav-items {
    list-style: none;
    padding: 12px;
    position: relative; 
}

.navbar .nav-items::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: 2px;
    background-color: #420505;
    transition: width 0.2s ease-out; 
}

.navbar .nav-items:hover::before,
.navbar .nav-items.active::before {
    width: 100%; 
}

.navbar .nav-items{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.icons {
    padding: 7px;
    font-size: 12px;
    color: black;
}

.nav-btn{
    width: 30px;
    height: 30px;
    font-size: 12px;
    padding: 5px;
    border: none;
    background-color: transparent;
    display: none;
    font-size: 16px;
}

.menu-button{
    position: absolute;
    right: 2rem;
    top: 3.5rem;
}

.dropdown-icon{
    display: none;
}

/* Mobile Responsive */
@media only screen and (max-width: 1024px){
    .nav-btn{
        display: block;
    }

    nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        background-color: #fff;
        transition: 1s;
        transform: translateY(-100vh);
        z-index: 1;
    }

    .navbar{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    nav .nav-items{
        text-align: center;
    }

    .navbar:hover{
        background: #fff;
        color: #242424;
        transition: 250ms;
    }

    .icons{
        display: flex;
        flex-direction: column;
        z-index: 1;
        margin: 0;
    }

    header .responsive_nav{
        transform: none;
    }

    nav .exit-menu{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}



