[data-column-id="title"].rdt_TableCol {
    font-size: 18px;
    font-weight: 550;
}

[data-column-id="action"].rdt_TableCol {
    font-size: 18px;
    font-weight: 550;
}

.pjimArch-container{
    display: flex;
    justify-content: center;
}

.pjimArch-wrapper{
    max-width: 70rem;
    min-width: 70rem;
    border: 1px solid black;
}
