[data-column-id="title"].rdt_TableCol {
    font-size: 18px;
    font-weight: 550;
}

[data-column-id="action"].rdt_TableCol {
    font-size: 18px;
    font-weight: 550;
}

.pjimArch-container{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.pjimArch-wrapper{
    max-width: 70rem;
    min-width: 70rem;
}

.pjimArch-wrapper h1{
    color: #420505;
    font-weight: 550;
    font-size: 28px;
}

.pjim-search{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 3.5rem;
    gap: 10px;
    position: relative;
    
}

.pjim-search input{
    padding: 4px;
    width: 15rem;
}

.pjim-search-icon{
    position: absolute;
    right: 5px;
}





