.aboutUs-container{
    display:flex;
    align-items: center;
    gap: 4.5rem;
    position: relative;
    margin-top: 8rem;
}

.aboutUs-logo{
    width: 110rem;
    position:relative;
    max-width: 170rem;
}

.aboutUs-logo h1{
    text-align: center;
    font-size: 65px;
    font-weight: 550;
    color: #EEEE;
    
}

.aboutUs-circle{
    width: 600px;
    height: 600px;
    position: absolute;
    background-color: #793737;
    z-index: -1;
    border-radius: 50%;
    top: -15rem;
    left: -9rem;
}

.aboutUs-content h1{
    font-size: 45px;
    font-weight: 550;
    color: #420505;
}

.aboutUs-content p{
    font-size: 14px;
    margin-right: 1rem;
}
