.banner-img{
    height: 560px;
    width: 100%;
}

.Carousel-Slider{
    max-width: 400px;
    margin-top: 2rem;
    height: 35rem;
}

.Content-Background{
    width: 40rem;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center ;
}

.Background-Banner{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40rem;
    background-color: #572525;  
}

.banner-wrapper{
    display: flex;
    justify-content: space-around;
    max-width: 82.5rem;
    gap: 10rem;
}

.Summary-Text{
    margin: 6rem 0 0 0;
}

.Summary-Text h1{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color: #fff;
}

.Summary-Text span{
    font-family: 'Playfair Display', serif;
}

.Summary-Text h1 span{
    color: #FAFF00;
}

.Summary-Text p{
    max-width: 530px;
    margin-top: 2rem;
    color: #fff;
    font-size: 15px;
}

.btn{
    position: absolute;
    right: -3.5rem;
    bottom: -1rem;
    border: none;
    width: 400px;
    height: 560px;
    
}

.btn button{
    border: none;
    padding: 10px 50px;
    opacity: 0;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    margin-top: 16rem;
}

.btn button a{
    text-decoration: none;
    color: black;
}

.btn-hover button{
    opacity: 0.8;
    background-color: #fff;
}
