.banner-img{
    height: 560px;
    width: 100%;
}

.Carousel-Slider{
    max-width: 400px;
    margin-top: 2rem;
    height: 35rem;
}

.Content-Background{
    width: 40rem;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center ;
}

.Background-Banner{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40rem;
    background-color: #572525;  
}

.banner-wrapper{
    display: flex;
    justify-content: space-around;
    max-width: 82.5rem;
    gap: 10rem;
    padding: 0 2rem;
}

.Summary-Text{
    margin: 6rem 0 0 0;
}

.Summary-Text h1{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color: #fff;
}

.Summary-Text span{
    font-family: 'Playfair Display', serif;
}

.Summary-Text h1 span{
    color: #FAFF00;
}

.Summary-Text p{
    max-width: 530px;
    margin-top: 2rem;
    color: #fff;
    font-size: 15px;
}

.btn{
    position: absolute;
    right: -3.5rem;
    bottom: -1rem;
    border: none;
    width: 400px;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button{
    border: none;
    padding: 10px 50px;
    opacity: 0;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    color: #000;
}

.btn button a{
    text-decoration: none;
    color: black;
}

.btn-hover button{
    opacity: 0.8;
    background-color: #fff;
}

/* Mobile Responsive */
@media screen and (max-width: 990px) {
    .Background-Banner {
        height: auto;
        padding: 1.8rem;
    }

    .banner-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        padding: 0 1.5rem 0 1.5rem;
    }


    .Content-Background {
        width: 100%;
    }

    .Summary-Text {
        margin: 2rem 1.5rem;
    }

    .btn {
        position: absolute;
        right: -3.5rem;
        bottom: -1rem;
        border: none;
        width: 390px;
        height: 560px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Content-Background{
        width: 40rem;
        background-color: #D9D9D9;
        display: flex;
        justify-content: center ;
        align-items: center;
        padding-bottom: 30px;
    }

    .btn button{
    border: none;
    padding: 10px 50px;
    opacity: 0.6;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    width: 190px;
}
}

@media screen and (max-width: 658px) {
    

    .Carousel-Slider{
        max-width: 300px;
        margin-top: 2rem;
        height: 28rem;
    }

    .banner-img{
        height: 430px;
        width: 100%;
    }

    .Content-Background{
        width: 27rem;
        background-color: #D9D9D9;
        display: flex;
        justify-content: center ;
        align-items: center;
        padding-bottom: 15px;
    }

    .btn {
        position: absolute;
        right: -5.5rem;
        bottom: -5.8rem;
        border: none;
        width: 390px;
        height: 560px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Summary-Text h1{
        font-size: 30px;
    }

    .Summary-Text p{
        font-size: 14px;
    }
    
}


