.newsEvents-container{
    display: flex;
    justify-content:center;
    margin-top: 3rem;
    padding: 20px;
}

.newsEvents-wrapper{
    max-width: 82.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
}

.newsEvents-wrapper h1{
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 550;
    color: #383838;
}

.card-items{
    max-width: 389px;
    background-color: #EBEBEB;
    position: relative;
    padding: 25px;
    height: 21rem;
    width: 100%;
}   

.slick-slider{
    width: 100%;
    margin-bottom: 3rem;
}

.slick-slider div{
    display: flex;
    gap: 1.5rem;
    width: 100%;
}

.slick-prev:before, .slick-next:before{
    color: #420505;
}


.card-items h3{
    font-size: 18px;
    font-weight: 800;
    color: #383838;
}

.date{
    color: #524949;
}

.read-more{
    color: #420505;
    position: absolute;
    z-index: 1;
    bottom: 23px;
    
}

@media screen and (max-width: 1330px) {
    .slick-slider {
        margin-bottom: 3rem;
        padding: 10px;
    }

    .slick-slide > div {
        display: grid;
        place-items: center;
    }
}


@media screen and (max-width: 990px) {
    .newsEvents-wrapper{
        padding: 0 3rem;
        width: 100%;
    }
    
    .slick-slider {
        max-width: 30rem;
        margin-bottom: 3rem;
        width: 100%;
    }

    .card-items {
        max-width: 20rem;
    }
}

@media screen and (max-width: 658px){
    .newsEvents-wrapper{
        width: 100%;
    }

    .card-items{
        font-size: 14px;
    }
    
    .slick-slider div{
        height: 100%;
        gap: .5rem;
    }

    .slick-track{
        gap: 1rem;
    }
    
}










