.newsEvents-container{
    display: flex;
    justify-content:center;
    margin-top: 3rem;
    padding: 10px;
}

.newsEvents-wrapper{
    min-width: 82.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsEvents-wrapper h1{
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 550;
    color: #383838;
}

.card-items{
    max-width: 389px;
    background-color: #EBEBEB;
    position: relative;
    padding: 25px;
    height: 21rem;
}

.slick-slider{
    max-width: 75rem;
    margin-bottom: 3rem;
}


.slick-slider div{
    display: flex;
    gap: 1.5rem;
}

.slick-prev:before, .slick-next:before{
    color: #420505;
}


.card-items h3{
    font-size: 18px;
    font-weight: 800;
    color: #383838;
}

.date{
    color: #524949;
}

.read-more{
    color: #420505;
    position: absolute;
    z-index: 1;
    bottom: 23px;
    
}

@media screen and (max-width: 1330px) {
    .newsEvents-wrapper{
        min-width: 70rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .slick-slider {
        max-width: 50rem;
        margin-bottom: 3rem;
        padding: 10px;
    }

    .slick-slide > div {
        display: grid;
        place-items: center;
    }
}


@media screen and (max-width: 990px) {
    .newsEvents-wrapper{
        min-width: 30rem;
        padding: 0 3rem;
        width: 100%;
    }
    
    .slick-slider {
        max-width: 30rem;
        margin-bottom: 3rem;
        width: 100%;
    }

    .card-items {
        max-width: 20rem;
    }



}



































/* *{
    font-family:'Poppins', 'sans-serif';
}
.container-content{
    margin-top: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-content h1{
    margin-top: 3.5rem;
    text-align: center;
    font-size: 35px;
    color: #383838;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 600;
}

.newsEvents-carousel-slides{
    margin-top: 4rem;
    height: 400px;
    width: 82.5rem;
}

.card-news-events{
    display: flex;
    justify-content: space-around;
    max-width: 60rem;
    margin: 0 auto;
}

.card-items{
    max-width: 300px;
    background-color: #EBEBEB;
    position: relative;
    padding: 25px;
}

.card-items h3{
    font-size: 18px;
    font-weight: 800;
    color: #383838;
}

.date{
    color: #524949;
}

.read-more{
    color: #420505;
    position: absolute;
    z-index: 1;
    bottom: 23px;
    
}

.carousel-btn{
    margin-bottom: 6rem;
}

.next{
    margin-bottom: 5.5rem;
}

.text-content{
    margin-bottom: 2rem;
}




 */
