.brochure-container{
    display: flex;
    justify-content: center;
    background-color: #744242;
    padding: 1.5rem 0;
}

.brochure-wrapper{
    display: flex;
    max-width: 87rem;
    justify-content: center;
    
}

.brochure-row{
    display: flex;
    align-items: center;
    margin-right: 3.5rem;
    justify-content: center;
    
}

.brochure-row img{
    width: 4rem;
    border: 1px solid #fff;
}

.brochure-content{
    margin-left: .5rem;
    color: #F5F0F0;
    max-width: 16rem;
}

.brochure-content h3{
    font-size: 15px;
    font-weight: 550;
}

.brochure-content p{
    font-size: 12px;
}

@media screen and (max-width: 1330px){
    .brochure-wrapper{
        max-width: 18rem;
    }
}

@media screen and (max-width: 990px){
    .brochure-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
    }
}