.pcp-book-container{
    display:flex;
    justify-content: center;
    background-color: #572525;
    height: 37rem;
    gap: 10rem;
}

.pcp-book-wrapper{
    display: flex;
    align-items: center;
    gap: 12rem;
    width: 82.5rem;
}

.book img{
    width: 40rem;
}

.book-content{
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.book-content span{
    color: #FAFF00;
    font-family: 'Allerta Stencil', sans-serif;
}

.book-content h1{
    font-weight: 550;
    font-size: 36px;
}

.book-content button{
    border: none;
    border-radius: 28px;
    width: 140px;
    padding: 10px;
    font-family: 'Poppins', 'sans-serif';
}

.book-content button:hover{
    background-color: #E4E4E4;
}


@media screen and (max-width: 1330px){
    .pcp-book-wrapper{
        display: flex;
        justify-content: center;
        gap: 5rem;
    }

    .book-content h1{
        font-weight: 550;
        font-size: 32px;
    }
}

@media screen and (max-width: 990px){

    .pcp-book-container{
        height: auto;
        padding: 2.5rem 0;
    }

    .pcp-book-wrapper{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

    }

    .book img{
        width: 26rem;
    }
}