
.pcp-doh-container{
    position: relative;
    margin-top: 7rem;
    margin-bottom: 4rem;
    display: flex; 
    justify-content: center;
    
    
}

.pcp-doh-container h1{
    margin-top: 3.5rem;
    text-align: center;
    font-size: 38px;
    color: #383838;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 800;
}

.pcp-doh-carousel-slides{
    min-width: 82.2rem;
    max-width: 82.2rem;
}

.pcp-doh-carousel-slides-news{
    margin-top: 4rem;
    width: 100%;
    height: 400px;
}

.pcp-doh-card-pcp-news{
    display: flex;
    justify-content: space-around;
    max-width: 60rem;
    margin: 0 auto;
}

.pcp-doh-card-items-news{
    max-width: 320px;
    background-color: #EBEBEB;
    padding: 30px;
    position: relative;
    margin-top: 4rem;
    width: 300px
}

.pcp-doh-card-items-news h3{
    color: red;
    font-family: 'Poppins', 'sans-serif';
    font-size: 23px;
}

.pcp-doh-card-items-news a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 3rem;
}

.pcp-doh-card-items-news button{
    background-color: #572525;
    color: #fff;
    border: none;
    border-radius: 28px;
    width: 90px;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    bottom: 25px;
}

.pcp-doh-card-items-news button:hover{
    background-color: #4F1D1D;
}

.pcp-doh-carousel-btn{
    margin-bottom: 6rem;
}

.pcp-doh-next, .pcp-doh-prev{
    margin-top: 10rem;

}





