.pcpnews-container{
    display: flex;
    justify-content:center;
    margin-top: 3rem;
    padding: 10px;
}

.pcpnews-wrapper{
    min-width: 82.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pcpnews-wrapper h1{
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 550;
    color: #383838;
}

.card-pcp-news{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60rem;
    margin: 2rem auto;
    padding: 20px; 
    background-color: #EBEBEB;
}

.card-items-news{
    display: flex;
    flex-direction: column;
}

.card-items-news h3{
    color: #FF4343;
    font-size: 23px;
}

.card-items-news button{
    background-color: #572525;
    color: #fff;
    border: none;
    border-radius: 28px;
    width: 90px;
    font-size: 12px;
    padding: 5px;
    left: 10.5rem;
    top: .5rem;
    cursor: pointer;
    z-index: 1;
}

.card-items-news button:hover{
    background-color: #4F1D1D;
}

.card-items-news button:active{
    background-color: #491717;
}

@media screen and (max-width: 990px) {

    .card-items-news h3{
        max-width: 20rem;
        font-size: 22px;
    }

    .pcpnews-wrapper{
        width: 100%;
        padding: 5px 3.5rem;
        min-width: 30rem;
    }
    
    .card-pcp-news{
        max-width: 23rem;
    }

    .pcpnews-wrapper h1{
        margin-bottom: 5px;
    }
}
















