.vaxcert-container{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 40px;
}

.vaxcert-wrapper{
    display:flex;
    gap: 2.4rem;
    width: 82.5rem;
    position: relative;
}

.vaxcert-card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    padding: 3rem 20rem;
    position: relative;
    background-color: #EBEBEB;
    z-index: 1;
}

.vaxcert-card-item img{
    width: 28rem;
}


.vaxcert-card-item h2{
    color: #515151;
    font-weight: 550;
    font-size: 20px;
    margin-top: 30px;
    width: 20rem;
}

.vaxcert-card-item a{
    text-decoration: none;
    position: relative;
    top: 1rem;
    display: flex;
    justify-content: center;
}


.vaxcert-card-item button{
    border: none;
    background: #F3F3F3;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    width: 150px;
    padding: 10px;
    border-radius: 28px;
    color: #420505;
}

.vaxcert-card-item button:hover{
    background-color: #EDEDED;
}

@media screen and (max-width: 1330px){
    .vaxcert-wrapper{
        max-width: 70rem;
        display: flex;
        justify-content:center;
    }

    .vaxcert-card-item{
        padding: 3rem 16rem; 
    }

    .vaxcert-card-item img{
        width: 20rem;
    }
}

@media screen and (max-width: 990px){
    .vaxcert-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .vaxcert-card-item{
        padding: 3rem 4rem; 
    }

    .vaxcert-card-item img{
        width: 17rem;
    }

    .vaxcert-card-item h2{
        font-size: 17px;
    }
}
