.chapters-containter{
    background-color: #FDFDF7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chapters-containter h1{
    text-align: center;
    font-size: 30px;
    font-weight: 550;
    padding-top: 2.5rem;
    color: #5B1E1E;
}

.chapters-containter h3{
    font-size: 15px;
    text-align: center;
    color: #2f2f2f;
    max-width: 60rem;
}

.chapters-content {
    padding: 1.5rem 10rem;
    min-width: 82.2rem;
    max-width: 82.2rem;
}

.chapters-content p{
    font-size: 14px;
}

.chapters-info span, .chapters-bank span{
    font-weight: 550;
    color: #5B1E1E;
}

.chapters-bank h4{
    font-size: 18px;
    text-decoration: underline;
    font-weight: 550;
    color: #5B1E1E;
    margin-bottom: 1rem;
}

.chapters-main-table h4{
    text-align: center;
    font-size: 22px;
    font-weight: 550;
    color: #5B1E1E;
}

.chapters-officers{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.chapters-officer-table{
    max-width: 65rem;
}

.chapters-officer-table th {
    text-align: right; 
    padding-right: 20rem; 
}

.chapters-officer-table tr{
    border-bottom: 1px solid black;
}

.chapters-officer-table td{
    padding: 10px;
}


.chapters-board{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


