.ncr-container{
    background-color: #FDFDF6;
}

.ncr-container h1{
    font-weight: 550;
    font-size: 35px;
    color: #420505;
    text-align: center;
    padding: 5rem 0 2rem 0;
}

.ncr-container span{
    color: #B4B802;
}

.ncr-wrapper{
    display: flex;
    justify-content: center;

}

.ncr-items{
    padding: 0 3.5rem 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.ncr-first-items, .ncr-second-items,
.ncr-third-items {
    display: flex;
    gap: 7rem;
}

.ncr-btn-items{
    width: 20rem;
    padding: 4rem;
    border: none;
    background: transparent;
    color: #420505;
    position: relative;
    transition: transform .5s ease;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.ncr-btn-items:hover{
    background: #F8F8F1;
    transition: transform .5s ease;
    transform: scale(1.02);
}

