

.SouthLuzon-content{
    display: flex;
    align-items: center;
    gap: 10rem;
    width: 100%;
    max-width: 82.2rem;
    justify-content: center;
    padding: 0 20px;
}

.SouthLuzon-content h2{
    font-size: 22px;
}

.SouthLuzon-btn{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #F8F8F1;
    padding: 3rem;
    border-radius: 18px;
    width: 28rem;
}

.SouthLuzon-btn-items{
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: #420505;
}

.SouthLuzon-btn-items:hover{
    transition: transform .5s ease;
    transform: scale(1.02);
}

@media only screen and (max-width: 656px){
    .SouthLuzon-content{
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        padding: 20px;
    }
    
    .SouthLuzon-btn{
        width: 100%;
    }
}