.board-container{
    display:flex;
    margin-top: 4rem;
    justify-content: center;
}

.board-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.board-square{
    position: relative;
    width: 100%;
    height: 12rem;
    background-color: #572525;
}

.board-circle{
    width: 26rem;
    height: 26rem;
    background-color: #F1DB64;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
}

.board-circle h1{
    text-align:center;
    color: #420505;
    font-weight: 550;
    font-size: 32px;
}

.board-circle span{
    color: #383838;
}

.board-container img{
    width: 53rem;
}