.history-container{
    background-color: #572525;
    border: 1px solid black;
}

.history-wrapper{
    display: flex;
    justify-content: flex-end;
}

.history-content{
    border: 1px solid #fff;
    max-width: 600px;
    background-color: #EBEBEB;
    padding: 5rem;
    border: 1px solid black;
}

.history-content h1{
    font-size: 45px;
    font-weight: 550;
    color: #420505; 
    text-align: center;
}

.history-content span{
    color: #B4B802;
}

.history-content button{
    border: none;
    background-color: #D8CDCD;
    border-radius: 28px;
    padding: 10px;
    width: 150px;
    box-shadow: 0 18px 20px rgba(0,0,0,0.25);
    
}

.history-content button:hover{
    background-color: #D4C7C7;
}

.history-pcp-logo{
    padding: 3rem;
    background-color: #D9D9D9;
    border: 1px solid black;
}

.history-pcp-logo img{
    width: 400px;
}

