.mv-container{
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    position: relative;
}

.mv-content h1{
    font-size: 35px;
    font-weight: 550;
    color: #B4B802;
}

.mv-content span{
    color: #420505;
}

.mv-content{
    max-width: 45rem;
    padding: 5rem;
}

.mv-content button{
    border: none;
    background-color: #D8CDCD;
    border-radius: 28px;
    padding: 10px;
    width: 150px;
    box-shadow: 0 18px 20px rgba(0,0,0,0.25);
}

.mv-content button:hover{
    background-color: #D4C7C7;
}

.mv-logo{
    min-width: 45rem;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.mv-mini-logo{
    width: 24rem;
    position: absolute;
    top: -2.3rem;
    left: -1rem;
}

.mv-square{
    width: 35rem;
    height: 18rem;
    position: relative;
    background-color: #572525;
}

.pcp-mini-logo{
    width: 6rem;
    position: absolute;
    right: 1px;
}

