
.MOA-modal-body{
    padding: 2rem;
}

.MOA-header{
    font-size: 23px;
}

.moa-dl-forms-modal{
    display: flex;
    gap: 10rem;
    padding: 2rem;
}

.moa-dl-forms-modal h3{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.moa-dl-btn{
    display: flex;
    gap: 1rem;
}

.moa-btn{
    position: relative;
    padding: 4px 40px;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
    text-decoration: none;
    color: #1F1F29;
    z-index: 1;
}

.moa-btn:before, .moa-btn:after{
    content: '';
	position: absolute;	
	transition: inherit;
    z-index: -1;
}

.moa-btn:hover{
    color: #fff;
    transition-delay: .5s;
}

.moa-btn:hover{
    transition-delay: 0s;
}

.moa-btn.from-top:hover:after{
    background: #5bc0de;
	transition-delay: .35s;
    border: 1px solid black
}

.moa-btn.from-right:hover:after{
    background: #5CB85C;
	transition-delay: .35s;
    border: 1px solid black
}

.from-top:before,
.from-top:after{
    left: 0;
	height: 0;
	width: 100%;
}

.from-top:before{
    bottom: 0;
    border: 1px solid black;
	border-top: 0;
	border-bottom: 0;
}

.from-top:after{
    top: 0;
    height: 0;
}

.from-top:hover:before,
.from-top:hover:after{
    height: 100%;
}

.from-right:before, 
.from-right:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-right:before {
	left: 0;
	border: 1px solid black;
	border-left: 0;
	border-right: 0;	
}

.from-right:after {
	right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
	width: 100%;
}


.moa-container button{
    border: none;
    padding: 10px 70px;
    border-radius: 28px;
    background-color: #572525;
    color: #fff;
}

.moa-container button:hover{
    background-color: #4F1D1D;
}

.moa-modal-btn{
    border:none;
    padding: 5px 20px;
    background-color: #420505;
    color: #fff;
}

