.hmo-container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding: 0 25px;
}

.hmo-wrapper{
    max-width: 82.2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}

.hmo-content-wrapper{
    max-width: 34rem;
    width: 100%;
    position: relative;
}

.hmo-content-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hmo-yellow-bg{
    width: 100%;
    height: 7rem;
    background-color: #FFFB6A; 
}

.hmo-lightGreen-bg{
    width: 100%;
    height: 7rem;
    background-color: #4A909F; 
}

.hmo-grey-bg{
    width: 100%;
    height: 7rem;
    background-color: #F4F4ED; 
}

.MOA-btn{
    border: .5px solid #DADADA;
    display: flex;
    flex-direction: column;
}

.MOA-btn button{
    padding: 2rem;
    font-size: 15px;
    background-color: #EFEFC7;
    border: 1px solid #DADADA;
    color: #1F1F29;
}

.MOA-btn button:hover{
    background-color: #E7E7BD;
}

.MOA-btn button:active{
    background-color: #E0E0B8;
}

.hmo-content-header img{
    width: 17rem;
    position: absolute;
    top: -1.2rem;
}

@media screen and (max-width: 789px){
    .hmo-wrapper{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 415px){
    .hmo-content-header img{
        max-width: 14rem;
        margin-top: 1.5rem;
        width: 100%;
        height: auto;
    }
}