.process-submit-modal-body{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.process-submit-modal-body img{
    max-width: 65rem;
    width: 100%;
}